* {
    box-sizing: border-box;
}

nav {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

img.logo {
    width: 80px;
}

a.navbar-brand {
    font-family: 'Water Brush', cursive, sans-serif;
    font-size: 30px;
}

a.nav-link:hover {
    border-bottom: solid 1.25px blue;
}

footer > p {
    font-size: 0.75rem;
    margin: 0;
    padding: 3em 0 0.25em 0.5em;
}

/* Home Page Styling */

.homepage {
    text-align: center;
    margin-top: 1rem;
}

.homepage > span {
    font-size: 1.1rem;
}

/* Quiz Page Styling */

.quiz-page, footer {
    background-color: #fbfbfb;
}

.quiz-intro, .explore-title h1 {
    font-family: "Sedan", "Montserrat", sans-serif;
    text-align: center;
}

.quiz-intro h1 {
    font-size: 2rem;
    margin: 0;
    padding: 2rem 3.4rem 1rem 3.4rem;
}

.quiz-intro p {
    font-size: 1rem;
    margin: 0 0 2em 0;
    padding: 1rem;
}

.quiz-container {
    max-width: 400px;
    background-color: rgb(228, 239, 249);
    border-radius: 25px;
    margin: 0 auto 2rem auto;
    padding: 1rem 2.5rem;
}

.question {
    font-family: "Montserrat", sans-serif;
    margin-top: 1em;
    margin-bottom: 2em;
}

.question > p {
    text-align: center;
    font-weight: 500;
    padding: 1rem 0;
    margin-bottom: 0;
    margin-top: 0.5rem;
}

.question-answers {
    font-size: 0.95rem;
}

/* Explore Page Styling */
.all-palettes p, .btn {
    font-family: "Montserrat", sans-serif;
}

.palette-card {
    margin-top: 5rem;
    text-align: center;
    background-color: white;
    width: calc(100% - 40px);
    margin: 0 auto 20px auto;
}

.explore-title {
    margin-bottom: 2rem;
    max-width: 80%;
    margin: 0 auto 20px auto;
}

.friends-palette img {
    max-width: 200px;
}

.explore-background {
    background-color: aliceblue;
}

.comments-section li {
    font-family: "Montserrat", sans-serif;
}

/* Profile Page Styling */

.profile div.container {
    background-color: aliceblue;
    border-radius: 25px;
    margin: 2rem auto;
    padding: 1rem 2.5rem;
} 
section.profile-name {
    text-align: center;
    margin-top: 1rem;
}

section.picture > img {
    display: flex;
    border-radius: 50%;
    place-items: center;
    margin: 20px auto;
    height: 15vh;
}

section.info {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-bottom: 40px;
}

section.info > p {
    height: 6px;
}

.profile img {
    max-width: 100%;
}

/* Create Page Styling */

 .heading {
    text-align: center;
    margin-top: 1rem
}

.create-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 25px;
}

.selections {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.color-img-container {
    display: flex;
}

.color-img-container img {
    width: 100px;
    height: 100px;
    margin-right: 10px; /
}

.btn-color {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-size: cover;
    border-radius: 5px;
}

.custom-palette {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

/* Media Queries */

@media (min-width: 576px) {
    /* Quiz Page */

    .quiz-container {
        max-width: 500px;
    }

    .quiz-intro p {
        padding: 1rem 3rem;
    }

    /* Explore Page */

    .palette-card {
       max-width: 70%;
    }

    .friends-palette img {
        max-width: 200px;
    }
}

@media (min-width: 768px) {
    /* Quiz Page */

    .quiz-container {
        max-width: 700px;
    }

    .question-answers {
        margin-left: 5rem;
    }

    .quiz-intro p {
        padding: 1rem 5rem;
    }

    /* Explore Page */

    .palette-card {
        max-width: 500px;
     }

     .friends-palette img {
        max-width: 230px;
    }

    .caption p {
        margin-top: 1rem;
    }
}

@media (min-width: 992px) {
    /* Quiz Page */

    .quiz-container {
        max-width: 900px;
    }

    .question-answers {
        margin-left: 8rem;
    }

    /* Explore Page */

    .palette-card {
        max-width: 500px;
     }

     .friends-palette img {
        max-width: 250px;
    }

    .post-interaction .btn {
        margin: 1rem;
    }

    .caption p {
        margin-top: 1rem;
    }
}

@media (min-width: 1200px) {
    /* Quiz Page */

    .quiz-container {
        max-width: 1000px;
    }

    .question-answers {
        margin-left: 12rem;
    }
    .quiz-intro p {
        padding: 1rem 10rem;
    }

    /* Explore Page */

    .palette-card {
        max-width: 80%;
    }

    .explore-title {
        margin-bottom: 3rem;
    }

    .friends-palette img {
        max-width: 300px;
    }

    .post-interaction .btn {
        margin: 1rem;
    }

    .caption p {
        margin-top: 1rem;
    }
}

@media (min-width: 1400px) {
    /* Quiz Page */
    
    .question-answers {
        margin-left: 12rem;
    }

    .quiz-intro p {
        max-width: 1200px;
        margin: 0 auto 1.5em auto;
    }

    /* Explore Page */

    .friends-palette img {
        max-width: 400px;
    }

    .post-interaction .btn {
        margin: 1.5rem;
    }

    .caption p {
        margin-top: 1rem;
    }
}