* {
    box-sizing: border-box;
}

nav {
    position: fixed;
    text-align: center;
}

/* Quiz Page Styling */

.quiz-intro {
    text-align: center;
    margin-top: 1rem;
}

.quiz-intro h1 {
    font-size: 1.65rem;
    margin: 0;
    padding: 1rem 3.4rem;
}

.quiz-intro p {
    font-size: 1rem;
    margin: 0;
    padding: 1rem;
}

.quiz-container {
    background-color: aliceblue;
    border-radius: 25px;
    margin: 2rem 0;
    padding: 1rem 2.5rem;
}

.question {
    margin-top: 1em;
    margin-bottom: 2em;
}

.question > p {
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 0;
    margin-top: 0.5rem;
}

footer {
    margin-bottom: 0;
}

footer > p {
    font-size: 0.75rem;
    margin: 5px;
}

@media (min-width: 576px) {
    .quiz-container {
        max-width: 500px;
        margin: 0 auto 2rem auto;
    }

    .quiz-intro p {
        padding: 1rem 3rem;
    }
}

@media (min-width: 768px) {
    .quiz-container {
        max-width: 700px;
    }

    .question-answers {
        margin-left: 5rem;
    }

    .quiz-intro p {
        padding: 1rem 5rem;
    }
}

@media (min-width: 992px) {
    .quiz-container {
        max-width: 900px;
    }

    .question-answers {
        margin-left: 8rem;
    }
}

@media (min-width: 1200px) {
    .quiz-container {
        max-width: 1000px;
    }

    .question-answers {
        margin-left: 12rem;
    }
    .quiz-intro p {
        padding: 1rem 10rem;
    }
}

@media (min-width: 1400px) {

    .question-answers {
        margin-left: 12rem;
    }

    .quiz-intro p {
        max-width: 1200px;
        margin: 0 auto;
    }
}

/* Profile Page Styling */

.profile div.container {
    background-color: aliceblue;
    border-radius: 25px;
    margin: 2rem auto;
    padding: 1rem 2.5rem;
} 
section.profile-name {
    text-align: center;
    margin-top: 1rem;
}

section.picture > img {
    display: flex;
    border-radius: 50%;
    place-items: center;
    margin: 20px auto;
    height: 15vh;
}

section.info {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-bottom: 40px;
}

section.info > p {
    height: 6px;
}

.profile img {
    max-width: 100%;
}

/* Create Page Styling */
 .heading {
    text-align: center;
    margin-top: 1rem
}

.create-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 25px;
}

.selections {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.color-img-container {
    display: flex;
}

.color-img-container img {
    width: 100px;
    height: 100px;
    margin-right: 10px; /
}

.btn-color {
    width: 50px;
  height: 50px;
  margin-right: 10px;
  background-size: cover;
  border-radius: 5px;
}